@use '../../partials/colors' as *;
@use '../../partials/typographys' as *;
@use '../../partials/variables' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.warehouseform{
    @include element-body;

    &__wrapper{
        @include tablet{
            @include flex-row{
                justify-content: space-between;
            }
            padding:$medium-space 0;
        }
    }

    &__left,&__right{
        @include element-block;
        @include flex-column;

        @include tablet{
            width: 50%;
            padding:0 $medium-space ;
        }
    }

    &__left{
        border-bottom:$divider;

        @include tablet{
            border-bottom: none;
            border-right:$divider;
        }
    }
    
    &__label{
        margin:$normal-space 0 $min-space;
    }

    &__input{
        @include formfield;
        margin-bottom: 0;

        &--error{
            @include formfield-error;
        }
    }

    &__warning{
        @include flex-row;

        &--valid{
            display: none;
        }
    }

    &__warning-icon{
        width: 1rem;
    }

    &__warning-text{
        @include small-body-text;
        margin:$min-space 0 0 $min-space;
        color: $support-color-red;
    }

    &__title{
        margin:0;
    }

    &__action{
        @include flex-row{
            gap:$regular-space;
        }
        padding:$regular-space $normal-space;
        background-color: $background-color-grey;

        @include tablet {
            justify-content:flex-end;
            padding:$regular-space $medium-space ;
        }
        
    }

    &__cancel, &__submit{
        @include button;
    }
    
    &__cancel{
        @include button-cancel;
    }

    &__submit{
        @include button-cta;
    }
}
.hide{
    display: none;
}