@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;

.label{
    @include flex-row{
        align-items: center;
        width: 15%;
    }

    &__title{
        color:$secondary-color-slate;
    }
    
    &__img{
        margin-right: auto;
        width: 1rem;
    }

    &__action{
        justify-content: flex-end;
    }

    &__hide{
        display: none;
    }
}