@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;

.label{
    display: none;
    @include tablet{
            @include flex-row;
    }

    &__title{
        font-size: $normal-table-font;
        line-height: $normal-table-line-height;
    }
    &__img{
        width: 1rem;
    }
    &__hide{
        display: none;
    }
}