@use '../../partials/colors' as *;
@use '../../partials/typographys' as *;
@use '../../partials/variables' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.page-header{
    background-color:$background-color-graphite;
    padding: $normal-space 0 $normal-space*4 ;

    @include tablet {
        @include flex-row{
            justify-content: space-between;
        }
        padding-bottom: $normal-space*5;
    }

    &__logo-wrapper{
        width: 100%;
        margin-bottom: $normal-space;

        @include tablet{
            @include wrapper-sidespace;
            @include flex-row{
                align-items: center;
            }
            width: auto;
        }
    }

    &__logo-img{
        height:$logo-height;
        width: $logo-width;
        display: block;
        margin: 0 auto;

    }

    &__wrapper{
        @include wrapper-sidespace;
        @include flex-row;
    }

    &__link{
        @include button;
        text-decoration: none;
        color: $secondary-color-cloud;
        line-height: 2.25rem;
        
        &:hover{
            text-decoration: underline;
            color: $white;
        }

        @include tablet{
            width: auto;
            line-height: 2.375rem;
        }
    }

    &__link--active{
        color: $white;
        background-color:$primary-color-black ;
    }
}