@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;

.wd__container{
    margin-left:5rem;
    @include tablet{
    display: flex;
    justify-content: space-around;
    margin-left: 5;
    width:44rem;
    @include desktop{
    width: 63rem;
    margin-left:0;
    }
    }
}

.wd-address__header, .wd-contact-name__header, .wd-contact-phone__header{
    width: 7.8rem;
    font-size:$normal-s-body-font;
}
.wd-contact-info__wrapper{
    margin-top:2rem;
    display:flex;
    justify-content: space-between;
    @include tablet{
        margin-top: 0;
    }
}
.wd-address__style, .wd-contact-name__style, .wd-contact-phone__style{
    line-height: $normal-s-body-line-height;
    width:13rem;
}
.wd-address__style{
    width: 16rem;
    @include tablet{
    width: 13.4rem;
}}
.wd-contact-name__container{
    border-left: none;
    @include tablet{
    border-left: 2px solid $secondary-color-slate;
    padding-left:3rem;
    }
}

.wd-button__style{
    @include button;
    color:$white;
    @include button-cta;
}

.wd-edit-icon__style{
    color: $white;
}

.wd-wrapper__style{
    @include flex-row;
    align-items: center;
    justify-content: space-between;
}