@use '../../partials/colors' as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;
@use "../../partials/typographys" as *;
@use "../../partials/variables" as *;

.actions{
    @include flex-row{
        justify-content: space-between;
    }
    margin:0;
    width: 100%;
    @include tablet{
        justify-content: flex-end;
    }

    &__edit{
        padding-left: 1rem;
    }

    &__link{
        display: block;
        cursor: pointer;
    }
    
}
