@use '../../partials/colors' as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;
@use "../../partials/typographys" as *;
@use "../../partials/variables" as *;

.actions{
    @include flex-row{
        justify-content: space-between;
    };
    padding: 1rem;
    @include tablet{
        width: 35px;
        height: 5rem;
        margin-left: 85%;
        margin-top: -8.5rem; 
    }
    &__edit{
        padding-left: 1rem;
    }

    &__link{
        display: block;
    }
    
}
