@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;
@use "../../partials/variables" as *;

.inventory-detail{
    @include element-body;
}

.inventoryDetail{
    margin-top: $medium-space;
        @include tablet{
            @include flex-row;
            margin-top: $small-space;
        }
    &__left{
        padding:0 $normal-space ;
            @include tablet{
                flex: 1 1 0px;
                border-right: $divider;
                padding:0 $medium-space ;
                margin: $medium-space 0;
            }
        &-title{
            margin-bottom: $small-space;
            color: $secondary-color-slate;
        }
    }
    &__right{
        padding:0 $normal-space ;
        @include flex-row; 
        &-title{
            margin-bottom: 0rem;
            color: $secondary-color-slate;
        }

            @include tablet{
                flex: 1 1 0px;
                padding: 0 $medium-space ;
                margin: $medium-space 0;
            }
        &-section{
            flex: 1 1 0px
        } 
    }
    &__text{
        @include medium-body-text;
        margin-bottom: $medium-space;
       
        &--stock{
            @include tag-in-stock;
        }
        &--nostock{
            @include tag-stock-out;
        }
    }
}