@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;
@use "../../partials/variables" as *;
 
.listingcard{
    @include element-block;
    @include flex-row{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: $regular-space;
    }
    border-top: $divider;
   
    @include tablet{
        flex-wrap: nowrap;
        align-items: center;
        justify-content:none;
    }

    &__item{
        width: 45%;
        order:0;
        @include tablet{
            width: 15%;
        }

        &-warehouse{
            margin-left: auto;

            @include tablet{
                margin: 0;
            }
        }

        &:last-child{
            width: 100%;
            @include tablet{
                width: 15%;
            }
        }

        &--head{
            order:-2;
        }

        &--priority{
            @include tablet{
                order:-1;
            }            
        }
        &--secondary{
            @include tablet{
                order:-1;
            }
        }
    }

    &__link{
        @include flex-row;
        text-decoration: none;
        color:$primary-color-indigo;
    }

    &__main-text{
        margin: 0;
    }

    &__title{
        color:$secondary-color-slate;
        margin: 0 0 $min-space 0;
        @include tablet{
            display: none;
        }
    }

    &__text{
        @include medium-body-text;
        color: $primary-color-black;
        margin: 0;
        @include tablet{
            font-size: $normal-m-body-font;
            line-height: $normal-m-body-line-height;
        }
    }   
    
    &__status--active{
        @include tag-in-stock;
        
    }

    &__status--inactive{
        @include tag-stock-out;
        
    }
}


