@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;

.wd-main-header{
    @include flex-row{
        padding-top: 2rem;
        justify-content: flex-start;
        margin-left: 1rem;
    }
    @include desktop{
        margin-left: 1.75rem;
    }
    &__img{
        margin-left:2.5rem;
        padding-right: .25rem;
    }
}

.wd-main-header__title{
    margin-top: -0.3rem;
}