@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;

.form{
    width: 100%;
    position: relative;
    @include tablet{
        @include flex-row;
        justify-content:space-between;

        &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 90%;
            background-color: $secondary-color-cloud;
            top: 25px;
            left:50%;
        }
    }
    &__warehouse{
        padding: 1rem;
        border-top: 1px solid $secondary-color-cloud;
        padding-bottom: 1.5rem;
        @include tablet{
            width: 45%;
            border-top: none;
            
        }
        &-title{
            margin-top: .75rem;
        }
    }
    &__contact{
       padding: 1rem;
       border-top: 1px solid $secondary-color-cloud;
       @include tablet{
            width: 45%;
            border-top: none;
        }

        &-title{
             margin-top: .75rem;
        }
    }
    &__label{
        margin-bottom: .5rem;
    }

    &__input{
    @include formfield;
    border: 1px solid $secondary-color-cloud;
    box-sizing: border-box;
    }

}