@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;
@use "../../partials/variables" as *;



.warehouse-list{
    @include element-body;
    background-color: $white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    font-family: $primary-font;
    &__header{
        width: 100%;
        @include tablet{
            @include flex-row{
                max-width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0 0.1rem;
            };
        }
    }

    &__title{
        color: $primary-color-black;
        font-size: $mobile-header-font;
        line-height: $mobile-header-line-height;
        font-weight: $weight-semi;
        padding-left:1rem;
        margin: 0;
        
        @include tablet{
            font-size: $normal-header-font;
            line-height: $normal-header-line-height;
            padding-left: 1.75rem;
            margin: 0;
        }
    }
    &__form{
        padding: 1rem;
        overflow: hidden;
        position: relative;
         &::before{
                content: "";
                z-index: 5;
                position: absolute;
                width: 25px;
                height: 25px; 
                top: 22.5%;
                right: 7%;
                background-image: url("../../assets/Icons/search-24px.svg");
                @include tablet{
                    right: 55%;
                    top: 32.5%;
                }
                @include desktop{

                }
                }

        @include tablet{
            @include flex-row{
                padding-right: 1.75rem;
            }
        }
        &-input{
            border-radius: 20px;
            width: 100%;
            border: 1px solid $secondary-color-cloud;
            height: 2.25rem;
            padding: 0 1rem;
            line-height: 20px;
            font-size: $mobile-m-body-font;
            margin: .5rem 0;
            box-sizing: border-box;
            @include tablet{
                height: 2.375rem;
                margin: 0 .5rem;
            }
            @include desktop{
                height: 2.375rem;
            }

            &--submit{
                background-color: $primary-color-indigo;
                color: $white;
                width: 100%;
                font-weight: $weight-semi;
            }
        }
    }
    &__labels{
        background-color: $background-color-grey;
        @include tablet{
            @include flex-row;
            justify-content: space-around;
        } 
    }
}
