@use "../../partials/_colors" as *;
@use "../../partials/typographys" as *;
@use "../../partials/mixins" as *;
@use "../../partials/spacings" as *;
@use "../../partials/variables" as *;


.main-header{
    border-bottom: $divider;
    padding: 0 1.5rem ;
    @include flex-row{
        justify-content: space-between;
        align-items: center;
    }

    &__left{
        @include flex-row{
            justify-content: flex-start;
            
        }
        padding:1.5rem 0;
    }

    &__img{
        padding-right: .25rem;
        margin-left: 1rem;
        cursor: pointer;

        @include desktop{
            margin-left: 1.75rem;
        }
    }

    &__title{
        margin: 0 0 0 $small-space;
    }
    

    &__right{
        &-button{
            @include button-cta;
            @include button;
            @include flex-row{
                align-items: center;
                justify-content: space-evenly;
            }
            color: $white;
        }
        &-text{
            display: none;
            @include tablet{
                display: block;
            }
        }
    }

    &__link{
        text-decoration: none;
    }
}
