//primary colors

$primary-color: #0095FF;
$primary-neutral-color:#AFAFAF;
$primary-black:#323232;
$primary-white:#FFFFFF;
$border-color:#E1E1E1;

//secondary color

$secondary-color: #0065AD;
$secondary-neutral-color:#FAFAFA;
