$space-unit: 0.5rem;


//component spacing

$min-space:0.5rem;
$small-space:1rem;
$regular-space:1.5rem;
$medium-space:2rem;
$max-space:2.5rem;

//normal block space

$normal-block-sidespace:0 11.25rem;

//tablet block space

$tablet-block-sidespace:0 1.5rem;

//mobile block space

$mobile-block-sidespace:0 1rem;



