@use './colors' as *;

//screen size
$desktop-size:1280px;
$tablet-size:767px;
$mobile-size:320px;

$searchIcon : url(../assets/Icons/search-24px.svg);

//logo size
$logo-height:1.6rem;
$logo-width: 7.5rem;
